# ide directories
.vscode/

# package directories
node_modules/
jspm_packages/

# serverless directories
.serverless/
.build/

# typescript directories
dist/
lib/

# others
build/
coverage/
.DS_Store
*.log
.env*
!.env.example
assets/images/Personal\ Page.xd
