<head>
    <link rel="icon" type="image/x-icon" href="assets/images/favicon.png"></link>
    <title>Domo Ogbz</title>
    <style>
    html,
    body {
        align-items: center;
        background-color: black;
        background: url('assets/images/background.jpg') 0% 0% / cover no-repeat;
        border: 0;
        display: flex;
        flex-direction: column;
        font-family: consolas, monospace;
        gap: 20px;
        height: 100vh;
        justify-content: center;
        margin: 0;
        width: 100vw;
    }
    </style>
</head>
