:root {
  --color-fg: #ffd78e;
  --color-bg: #121212;
}

:root {
  --size-xxxs: 1px;
  --size-xxs: 2px;
  --size-xs: 3px;
  --size-s: 5px;
  --size-sssm: 8px;
  --size-ssm: 13px;
  --size-sm: 21px;
  --size-m: 34px;
  --size-ml: 55px;
  --size-mml: 89px;
  --size-mmml: 144px;
  --size-l: 233px;
  --size-xl: 377px;
  --size-xxl: 610px;
  --size-xxxl: 987px;
}

:root {
  --level-zero: unset;
  --level-one: 1;
}
