<style>
  #logo {
    align-items: center;
    background-color: color-mix(in srgb, var(--color-bg) 80%, transparent);
    border-radius: 144px;
    display: flex;
    height: 144px;
    justify-content: center;
    padding: 21px;
    width: 144px;
  }

  #logo .ring {
    animation: progress 3s linear normal infinite;
    fill: none;
    stroke-dasharray: 720 180;
    stroke-linecap: round;
    stroke-width: 21px;
    stroke: var(--color-fg);
  }

  #logo .left {
    transform: translate(100px, 0) rotate(90deg);
  }

  #logo .right {
    animation-delay: 1.5s;
    animation-direction: reverse;
    transform: translate(100px, 200px) rotate(-90deg);
  }

  @keyframes progress {
    0%,
    10% {
      stroke-dashoffset: 100;
    }

    90%,
    100% {
      stroke-dashoffset: -900;
    }
  }
</style>

<div id="logo">
  <svg height="80" width="160" viewBox="-20 -20 240 240">
    <path
      class="ring left"
      d="M100,0 a100,100 0 0 1 0,200 a100,100 0 0 1 0,-200,0"
      fill="none"
    />
    <path
      class="ring right"
      d="M100,0 a100,100 0 0 1 0,200 a100,100 0 0 1 0,-200,0"
    />
  </svg>
</div>
